:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
}

#gameInfo,
#scoreDiv {
  display: flex;
  flex-direction: column;
  border: solid 1px white;
  border-radius: 12px;
  width: max-content;
  padding: 6px;
}

#gameInfo {
  align-items: center;
  padding: 6px;
  margin-bottom: 6px
}

#scoreDiv {
  align-items: flex-start;
}

.scoreText,
#gameInfoTitle {
  margin: 3px;
}

#gameInfoTitle {
  align-self: center;
}

#resetButton {
  margin-top: 6px;
  padding: 6px;
  background: dodgerblue;
  border-radius: 8px;
}

#resetButton:hover {
  background: deepskyblue;
}

#cardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  max-width: 870px; /* (125px * 6) + (12px * 5) */
  margin: 0 auto; /* Centers the container if it's less than the viewport width */
}

.cardDiv {
  height: 165px;
  width: 125px;
  overflow: hidden;
  border: 1px solid white;
  border-radius: 5px;
  flex: 0 0 auto;
}

.cardDiv:hover {
  transform: scale(1.1);
}

.cardImage {
  height: 95%;
  width: 95%;
  object-fit: contain;
}

.cardTitle {
  margin: 2px;
  font-size: 14px;
  text-align: center;
  border: solid 1px white;
}