:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

#app {
  width: 100vw;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#headerDiv {
  display: flex;
  justify-content: space-between;
  border: solid 1px white;
  width: 100%;
  position: relative;
  margin-bottom: 16px;
}

#titleDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#titleText {
  margin: 0;
}

.score,
#titleText {
  padding: 0 12px;
}

#infoButton {
  font-size: xx-large;
  border-radius: 40%;
  background: green;
}

#infoButton:hover {
  background: yellow;
  color: red;
  border: 2px solid deeppink;
}


#instructions {
  position: absolute;
  top: 50%;
  left: 12%;
  background-color: darkslategray;
  color: lightskyblue;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  z-index: 1;
}

#instructions ul {
  list-style-type: circle;
  margin: 0;
}

#instructions li {
  text-align: left
}


.gameInfo {
  display: flex;
  flex-direction: column;
  border: solid 1px white;
  border-radius: 12px;
  width: max-content;
  padding: 6px;
}

.gameInfo {
  align-items: center;
  padding: 6px;
  margin: 6px 0;
}

.gameInfo > * {
  margin: 0;
}

.scoreText,
#gameInfoTitle {
  margin: 0;
  padding: 0;
}

#gameInfoTitle {
  align-self: center;
}

#resetButton {
  margin-top: 6px;
  padding: 6px;
  background: dodgerblue;
  border-radius: 8px;
  align-self: center;
}

#resetButton:hover {
  background: deepskyblue;
}

#cardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  max-width: 870px; /* (125px * 6) + (12px * 5) */
  margin: 0 auto; /* Centers the container if it's less than the viewport width */
}

.cardDiv {
  height: 165px;
  width: 125px;
  overflow: hidden;
  border: 1px solid white;
  border-radius: 5px;
  flex: 0 0 auto;
}

.cardDiv:hover {
  transform: scale(1.1);
}

.cardImage {
  height: 95%;
  width: 95%;
  object-fit: contain;
}

.cardTitle {
  margin: 2px;
  font-size: 14px;
  text-align: center;
  border: solid 1px white;
}